<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!--<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">-->
  </head>
  <body>
    <div class="header">
      <span class="home"><b>www.ip138.com 查询网</b></span>
      <a href="#" target="_blank"><b>查询主页</b></a>
    </div>

    <div class="banner">
      <a href="http://www.liantu.cn/app/huilv/" target="_blank"><img src="/images/banner.gif" alt="汇率换算" width="770px" height="90px"></a>
    </div>

    <div class="container">
       <div class="hd">
         <span><b>实时汇率查询换算 在线世界各国货币转换</b></span>
         <a href="#####">←【加入收藏夹】</a>
       </div>

    <%- body %>

    </div>
    <div class="footer">
      <p>
        <a href="#">联系我们.请给我们留言.谢谢!</a>
        <br />
        京ICP备12345678号
      </p>
    </div>
  </body>
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
  <!--<script src="/javascripts/bootstrap.min.js"></script>-->
</html>
