body{                        /*居中布局 设置*/
display: flex;
flex-flow: column;
}
.container{                  /*居中布局 设置*/
    width: 50%;
    flex: 1;
    align-self: center;
}
.header{
    background-image: url(../images/top_bg.jpg);
    background-repeat: no-repeat;
    width: 1002px;
    /*position: relative;*/
}
#nav{
    position: relative;      /* 导航栏  设置  相对定位， 是为了  让   搜索输入框 和 搜索图标，在自适应屏幕时，可以找到位置，而不是乱串！*/
}
#nav li{                      /*导航栏   设置*/
    float: left;
    width: 80px;
    margin-left: 20px;
    line-height: 40px;
}
#nav li a{
    font-size: 15px;
    font-family: "微软雅黑",sans-serif;
    text-align: center;
    color: gray;
    text-decoration: none;
    display: block;
    width: 97px;
    height: 37px;
}
#nav input{                   /*导航栏  输入框 位置及样式  设置*/
    position: absolute;            /*设置为  绝对定位，可以根据 “导航栏” 的位置，找到自己的位置    （绝对定位的元素，参照物：第一个采用relative定位的父元素的位置，或html根元素）*/
    /*top: 96px;
    right:460px;*/
    top: 9px;
    left: 745px;
    width: 200px;
    height: 19px;
    border-style: none;        /*去掉  边框样式*/
    outline: none;            /*去掉 选中时的边框*/
}
#nav #search{                 /*导航栏  搜索图标 位置  设置*/
    position: absolute;               /*设置为  绝对定位，可以根据 “导航栏” 的位置，找到自己的位置    （绝对定位的元素，参照物：第一个采用relative定位的父元素的位置，或html根元素）*/
    /*top: 99px;
    right:460px;*/
    top: 12px;
    left: 940px;
}
#nav a:hover{                  /*导航栏  鼠标悬浮样式  设置*/
    color: white;
    background: url(../images/nav_on.gif);
}
#banner{                      /*导航栏下  banner图片  设置*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.main{                         /*主内容区  宽高  设置*/
    width: 1002px;
    height: 600px;
}
.lside{                        /*主内容区 左侧边栏  宽高及样式  设置*/
    width: 694px;
    height: 600px;
    background-color: white;
    float: left;
    border: 2px solid gray;
    border-radius: 5px;
}
.rside{                        /*主内容区 右侧边栏  宽高及样式  设置*/
    width: 294px;
    height: 600px;
    float: right;
    border: 2px solid gray;
    border-radius: 5px;
}
.subtitle{
    height: 37px;
    background-image: url(../images/index_main_top_bg.gif);
}
.subtitle img{
    float: left;
    margin: 5px;
}
.subtitle h1{
    font-size: 16px;
    font-weight: bold;
    line-height: 37px;
    float: left;
}
.subtitle a{
    float: right;
    line-height: 37px;
    text-decoration: none;
    color: black;
}
.four{                       /*主内容区 左侧边栏  4个栏目  宽高及样式  设置*/
    width: 325px;
    height: 200px;
    background-color: rgb(227, 227, 224);
    margin: 20px 10px;
    float: left;
    border: 1px solid gray;
    border-radius: 5px;
}
.four h1{
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}
.four img{
    margin:0 10px;
    float: left;
}
.four ul{
    float: left;
    margin-left: 10px;
}
.four li{
    font-size: 15px;
    background-image: url(../images/service_intro_bg.gif);
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-bottom: 10px;
}
.four a{
    text-decoration: none;
    color: inherit;
}
.rside .article{
    width: 294px;
    height: 300px;
    background-color: rgb(227, 227, 224);
    margin: 5px 0;
}
.rside .contect{
    width: 294px;
    height: 210px;
    background-color: rgb(227, 227, 224);
    margin: 5px 0;
}
/*.rside ul{              //ul不用设置 float，用li的padding让文本撑起来就行
    float: left;
    margin: 30px 20px;
}*/
.rside li{
    padding: 10px 0 0 5px;
    height: 29px;
}
.rside>.article a{
    display: block;
    height: 29px;
    padding-left: 25px;
    line-height: 29px;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    background-image: url(../images/article_headbak.gif);
    background-repeat: no-repeat;
}
.contect img{               /*设置  邮件图标 位置*/
    float: left;
    margin: 15px 10px 0 20px;
}
.rside p{
    font-size: 15px;
    padding: 15px 0 0 20px;
}
.rside>.article a:hover{
    background-image: url(../images/article_on_bg.gif);
}
.footer{                      /*底部  宽高  设置*/
    width: 1002px;
    height: 120px;
}
.footer .list{          /*底部  背景及样式  设置*/
    height: 50px;
    background-image: url(../images/footer_bg.gif);
    margin: 10px 0;
    border-radius: 6px;
}
.list img{
    float: left;
    margin: 5px 5px;
}
.list li{                   /*底部 列表 文字  设置*/
    color: black;
    font-size: 15px;
    margin: 10px 5px;
    padding: 5px;
    float: left;
}
.list a{
    text-decoration: none;
    color: inherit;
}
.footer address{
    font-size: 15px;
}

/*
.cleanfix{
    clear: both;
}*/
