<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/core.css">
    <link rel="stylesheet" href="/stylesheets/semantic.min.css">
    <title><%= title %></title>
</head>
<body>
    <div class="ui middle center aligned grid">
        <div class=" ten column">
            <h2>用户登录</h2>
    <form action="" method="post" name="userLogin" id="userLogin" class="ui form">
        <div class="two wide field">
            <label for="username">用户名：</label>
            <input type="text" name="username">
        </div>
        <div class="two wide field">
            <label for="password">密码：</label>
            <input type="password" name="password">
        </div>
        <button class="ui primary button" type="submit">登录</button>
    </form>
    </div>
    </div>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/semantic.min.js"></script>
</body>
</html>